.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-family: "Play", sans-serif;
    font-size: 2em;

    h1 {
        padding: 0.5em;
    }
}