.landing-container {
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .action-section {
        display: flex;
        gap: 1em;
        padding: 1em;

        .btn-sign-in,
        .btn-sign-up {
            padding: 0.5em 1em;
            font-family: inherit;
            font-weight: 700;
            cursor: pointer;
        }
    }
}